@use '../variables' as var;
@use '../mixins';

.main-header{
    @include mixins.flex-box ($display: flex, $justify: space-between, $align: center );
    padding: clamp(30px, 5vw, 100px);
    position: relative;

    height: 20vh;
    width: 100%;
    background-color: var.$highlight-color;

    .main-header__container-logo{
        @include mixins.flex-box ($display: flex, $justify: center, $align: center );
        flex-grow: 1;
        max-width: fit-content;

        .main-header__main-logo{
            width: clamp(150px, 15vw, 250px);
        }
    }

    .main-header__container-hamburguer{
        @include mixins.flex-box ($display: none, $direction: column);
        gap: 7px;

        .item-hamburguer{
            @include mixins.flex-box ($display: flex);
            width: 35px;
            height: 5px;
            background-color: var.$thirt-color;
        }
    }

    .main-header__nav-bar{
        @include mixins.flex-box ($display: flex);
        width: 100%;

        .main-header__list-menu{
            @include mixins.flex-box ($display: flex, $justify: space-between);
            width: 100%;
            
            .main-header__item-menu{
                @include mixins.flex-box ($display: flex);
                @include mixins.font(var.$secondary-font, clamp(.5em, 1vw, 1em), 400, var.$white-color); //font, size, weight, color 
                padding: var.$small-space;

                transition: .3s;
                cursor: pointer;
                border-bottom: solid transparent;
                text-wrap: nowrap;



                &:hover {
                    font-weight: 600;
                    color: var.$thirt-color;
                    border-bottom: solid var.$thirt-color;
                }
            }
        }
    }

    //====================================TABLET============================================

    @media (min-width: 250px) and (max-width: 800px) {

        .main-header__container-logo{
            max-width: 100%;
        }

        .main-header__container-hamburguer{
            @include mixins.flex-box ($display: flex);
            padding: 30px;
        }

        .main-header__nav-bar{
            @include mixins.flex-box ($direction: column);
            position: absolute;
            z-index: 1;

            top: 20vh;
            right: 0;
            transform: translateX(100%);

            height: 80vh;
            width: 50%;
            transition: .3s;
            
            .main-header__list-menu{
                @include mixins.flex-box ($direction:column, $align: center );
                width: 100%;
                height: 100%;
            }
        }
        
        .main-header__nav-bar--active{
            @include mixins.font($size: 1.3em);
            background-color: var.$highlight-color;
            transform: translateX(0);
            padding: var.$large-space;
        }
    }
}