@use '../mixins';
@use '../variables' as var;

.services-section {
    @include mixins.flex-box($display: flex);
    flex-wrap: wrap; 
    padding: var.$page-space;
    width: 100%;
    background-color: var.$secondary-color;
    gap: 60px;
}