@use 'variables' as var;
@use 'sass:map';

@mixin flex-box ($display:null, $direction:null, $justify:null, $align:null) {
    $properties: (
        display: $display,
        flex-direction: $direction,
        justify-content: $justify,
        align-items: $align
    );

    @each $property, $value in $properties {
        @if $value != null {
            #{$property}: $value;
        }
    }
}

// mapa de bordas
$border-map: (
    small: .3em,
    medium: 1em,
    large: 3em
);

// borda recebe uma chave small, medium ou large e mapeia no border-map 
@mixin border-size($size, $color) {
    border: map.get($border-map, $size) solid $color;
}

//fonts
@mixin font($font: null, $size: null, $weight: null, $space: null, $color: null) {
    $properties: (
        font-family: $font,
        font-size: $size,
        font-weight: $weight,
        letter-spacing:$space,
        color: $color,
    );

    @each $property, $value in $properties {
        @if $value != null {
            #{$property}: $value;
        }
    }
}

//medias

$media-map:(
    tv: 1200px,
    desktop:1024px,
    tablet:600px,
    smartphone:150px,
);

@mixin media($device) {
    $breakpoint: map.get($media-map, $device);
    @media (max-width: $breakpoint) {
        @content;
    }
}