//fonts
@mixin font ($font, $size, $weight, $color ) {
    font-family: $font;
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

//espaçamentos
@mixin full-large-space ($property) {
    #{$property}: 30px;
}

@mixin width-large-space ($property) {
    #{$property}: 0 clamp(30px, 5vw, 100px);
}

@mixin btn-space ($property) {
    #{$property}: 10px;
}