// font
$primary-font: "Notable", serif;
$secundary-font: "Lexend Zetta", serif;

// colors
$primary-color: #00A6A7;
$secondary-color: #25528D;
$highlight-color: #E8397B;
$thirt-color: #F2AE2C;
$fourth-color: #EF7A36;

$white-color: #fff;
$semi-white-color: #ececec