@use '../../styles/mixins';
@use '../../styles/variables' as var;

.services {
    @include mixins.flex-box($display: flex);
    flex-wrap: wrap; 
    padding: var.$page-space;
    width: 100%;
    background-color: var.$semi-white-color;
    gap: 60px;
}