@use '../../mixins';
@use '../../variables' as var;

.input{
  display: flex;
  flex-direction: column;
  gap: var.$small-space 0;
  width: 100%;

  .input__label{
    //$font, $size, $weight, $space, $color
    @include mixins.font($font: var.$secondary-font, $size: 1.5rem, $weight: 900, $space: 7px, $color: var.$black-color);
  }
  
  .input__camp{
      //$font, $size, $weight, $space, $color
      @include mixins.font($font: var.$secondary-font, $size: clamp(.5em, 1vw, .8em), $color: var.$black-color);
      font-style: italic;
      display: flex;
      padding: var.$small-space;
      width: 100%;
      &:focus{
          border: double var.$highlight-color 5px ;
      }
  }
}